.gameboard {
  display: flex;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;

    .letterbox {
      border: 2px solid gray;
      border-radius: 3px;
      margin: 2px;
      font-size: 2.5rem;
      font-weight: 700;
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
  }

  .cantsubmit {
    -webkit-animation: jiggle 7s infinite;
    -moz-animation: jiggle 7s infinite;
    animation: jiggle 7s infinite;
  }
}

// animations taken from this codepen: https://codepen.io/olehpratsko/pen/GpEbZa
@-webkit-keyframes jiggle {
  0%, 5.2%, 100% { margin-left: 0px;}
  0.4%  {margin-left: -3px;}
  1.2%  {margin-left: 3px;}
  2%  {margin-left: -3px;}
  2.8%  {margin-left: 3px;}
  3.6%  {margin-left: -3px;}
  4.4%  {margin-left: 3px;}
}

@-moz-keyframes jiggle {
  0%, 5.2%, 100% { margin-left: 0px;}
  0.4%  {margin-left: -3px;}
  1.2%  {margin-left: 3px;}
  2%  {margin-left: -3px;}
  2.8%  {margin-left: 3px;}
  3.6%  {margin-left: -3px;}
  4.4%  {margin-left: 3px;}
}

@keyframes jiggle {
  0%, 5.2%, 100% { margin-left: 0px;}
  0.4%  {margin-left: -3px;}
  1.2%  {margin-left: 3px;}
  2%  {margin-left: -3px;}
  2.8%  {margin-left: 3px;}
  3.6%  {margin-left: -3px;}
  4.4%  {margin-left: 3px;}
}
